
@{
    ViewData["Title"] = "Index";
    int order = 1;
}
@model IEnumerable<Category>
<div class="card">
    <div class="card-header">
        <a asp-action="Create" class="btn btn-success">Create</a>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Product Count</th>
                    <th>Status</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(order++)</td>
                        <td><img src="~/assets/imgs/shop/@item.ImageUrl" width="50" /></td>
                        <td>@item.Name</td>
                        <td>@item.Products?.Count</td>
                        <td>
                            @if (item.IsDeleted == true)
                            {
                                <span class="badge rounded-pill alert-danger">Deleted</span>
                            }
                            else
                            {
                                <span class="badge rounded-pill alert-success">Active</span>
                            }
                        </td>
                        <td><a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">Edit</a></td>
                        <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger cat-del">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $("tr").on("click", ".cat-del",function(e){
            e.preventDefault();
            let a = $(this)
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "GET",
                        url: a.attr('href'),
                    }).done(function () {
                        let status = a.parent().prev().prev();
                        if (status.text().trim().toLowerCase() == "active") {
                            status.children().toggleClass("alert-success alert-danger");
                            status.children().text("Deleted")
                        }
                        else{
                            status.parent().remove()
                        }
                        Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )
                    }).fail(function (err) {
                        Swal.fire(
                            'Oops!',
                            err.responseText,
                            'error'
                        )
                        
                    })
                }
            })
        })
    </script>
}

